<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Pelajaran</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="webjars/bootstrap/4.1.0/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
<form th:action="@{/updatepelajaran}">
			<div class="card">
				<h5 class="card-header bg-dark text-white">Edit Pelajaran</h5>
				<div class="card-body">
					<div class="form-row">
						<div class="col-md-4 mb-3">
							<label for="validationServer01">Kode Pelajaran</label> <input
								type="text" name="kodepelajaran" id="kodepelajaran"
								class="form-control" required="required" th:placeholder="${pelajaranModel.kodePelajaran}">
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationServer02">Nama Pelajaran</label> <input
								type="text" name="namapelajaran" id="namapelajaran"
								class="form-control" required th:placeholder="${pelajaranModel.namaPelajaran}">
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-4 mb-3">
							<label for="validationServer01">Tingkat</label> 
							<select
								class="custom-select" id="tingkat" name="tingkat">
								<option selected disabled="disabled">Pilih Tingkat</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="3">4</option>
							</select>
						</div>

						<div class="col-md-4 mb-3">
							<label for="validationServerUsername">Jam Ajar</label> <input
								type="number" name="jamajar" id="jamajar" min="1" max=""
								class="form-control" required="required" th:placeholder="${pelajaranModel.jamAjar}">
						</div>
					</div>



					<div class="form-row">
						<div class="col-md-8 mb-1">
							<label for="validationCustomUsername">Keterangan</label>
						</div>
						<div class="col-md-8 mb-1">
							<textarea class="form-control mb-5" rows="3" name="keterangan"
								id="keterangan" th:placeholder="${pelajaranModel.keterangan}"></textarea>
						</div>

					</div>

					<button type="submit" class="btn btn-success btn-sm btn-block">Submit</button>
					<a th:href="@{/pelajaran}" class="btn btn-primary btn-sm btn-block">Back</a>
				</div>
			</div>
		</form>


</body>
</html>